body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 22px;
  color: black;
  text-align: right;
  background-color: snow;
}
.legend i {
  width: 35px;
  height: 20px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 0.8;
}